/*Basic setup*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: rgb(255, 255, 255);
    
    color :#555;
    font-family: 'Cairo','Tajawal','Amiri' ;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*components*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    clear:both;
    margin: 0px;

}

/*---HEADINGS------*/
h1{
   
    transform: translate(30%, 90%);
    color: #fff;
    font-size: 150%;
    
 }
 
 h2, h3{
     
     margin-top: 0%;
     text-align: center;
     padding: 20px;
 }
 h2{
     background-color: rgba(173, 216, 230, 0.466);
     padding: 20px;
 }
 
 
 p{
     text-align: right;
     border:1px solid #555;
     padding: 15px;
     margin-top: 15px;
     border-bottom: 13px rgba(85, 85, 85, 0.685) solid;
     
 }


 /*Logo*/
.logo{
    padding-left: 35%;
    margin-bottom: 0%;
}

/*header*/
header{
    
    background-color: rgba(173, 216, 230, 0.466);
    
    height: 10vh;
    background-size: contain;
    position: absoute;
   

}
.banner{
    position:center;
    /*transform: translate(30%, 50%);*/
    text-align: center;
    font-size:1.5vw;
}

.row ul li{
    list-style: none;
    display: inline-block;
    margin:0 15px;
    position: relative;

}

/*home-photo*/
.home-photo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),  url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 50vh;
}